/**
 * Fonts
 */
 @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900);

 @media (max-width: 768px) {
 	.gt-container{
 		font-size: 70% !important;
 	}
 }
 @media (min-width: 768px) {
 	.gt-container{
 		font-size: 80% !important;
 	}
 }
 @media (min-width: 992px) {
 	.gt-container{
 		font-size: 90% !important;
 	}
 }
 @media (min-width: 1200px) {
 	.gt-container{
 		font-size: 100% !important;
 	}
 }
/**
 * Generic CSS
 */

 .gt-container a {
 	color: #3572B0;
 	text-decoration: none;
 }
 .gt-container a:focus, .gt-container a:hover, .gt-container a:active {
 	text-decoration: underline;
 }
 
 .gt-container{
 	font-family: 'Source Sans Pro', sans-serif;
 	width: 100%;
 	background-color: #FFF;
 	border-radius: 3px 3px 0 0;
 	border: 1px solid #D8D8D8;
 	background: #FAFAFA;
 	font-size: 1rem;
 	min-width: 270px;
 }
 .gt-usr-header, .gt-org-header{
 	position: relative;
 	width: 100%;
 	padding-top: 10px;
 	background-color: #F5F5F5;
 	z-index: 2;
 }
 .gt-usr-avatar, .gt-org-avatar{
 	width: 100px;
 	height: 100px;
 	margin: 0 auto;
 }
 .gt-usr-avatar a, .gt-org-avatar a{
 	width: 100px;
 	height: 100px;
 	display: block;
 }
 .gt-usr-avatar img, .gt-org-avatar img{
 	width: 100%;
 	height: 100%;
 	border-radius: 50%;
 }
 .gt-usr-name, .gt-org-name{
 	padding: 10px 20px;
 	text-align: center;
 }
 .gt-usr-header .user-name, .gt-org-header .user-name{
 	display: block;
 	overflow: hidden;
 	width: 100%;
 	font-size: 1.6rem;
 	line-height: 30px;
 	text-overflow: ellipsis;
 }
 .gt-usr-header .user-login, .gt-org-header .user-login{
 	display: block;
 	overflow: hidden;
 	width: 100%;
 	font-size: 1.25rem;
 	font-style: normal;
 	font-weight: 300;
 	line-height: 24px;
 	color: #666;
 	text-overflow: ellipsis;
 }
 .gt-usr-header .user-login:hover, .gt-org-header .user-login:hover{
 	text-decoration: underline;
 }
 .gt-usr-details{
 	height: 50px;
 }
 .gt-usr-repo,.gt-usr-folwr,.gt-usr-folng{
 	float: left;
 	width: 33.33%;
 	text-align: center;
 	padding: 5px 0;
 }
 .gt-usr-txt{
 	display: block;
 }
 .gt-usr-dt{
 	display: block;
 }
 .gt-usr-details a{
 	text-decoration: none !important;
 	color: #000;
 }
 .gt-usr-repo:hover,.gt-usr-folwr:hover,.gt-usr-folng:hover{
 	background-color: #E3E3E3;
 }
 .gt-usr-name p{
 	margin: 5px 0;
 }
 .gt-shadow{
 	border-bottom: 1px solid #DDD;
 	box-shadow: 0 2px 2px -1px rgba(0,0,0,.4);
 	-webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.4);
 	-moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.4);
 }

/**
 * Organization
 */
 
 .gt-org-link{
 	display: inline-block;
 	margin: 5px;
 }
 .gt-org-repos{
 	display: block;
 	clear: both;
 }
/**
 * Activity
 */
 .gt-activity-cnt{
 	background-color: #FFF;
 	position: relative;
 	width: 100%;
 	height: 300px;
 	overflow-y: auto;
 }
 .gt-time-str{
 	margin: 0 5px;
 	color: #666;
 	font-size: 0.87rem;
 }
 .gt-activity{
 	padding: 10px 5px;
 	border-top: 1px solid #D8D8D8;
 	word-break: break-all;
 }
 .gt-no-activity{
 	padding: 10px 5px;
 }
 .gt-activity .gt-avatar-cnt{
 	float: left;
 	width: 5%;
 	min-width: 30px;
 }
 .gt-activity .gt-usr-avatar{
 	width: 30px;
 	height: 30px;
 }
 .gt-avt-cnt{
 	display: inline-block;
 	display: -moz-inline-stack;
 	float: left;
 	width: 94%;
 }
 .gt-clearfix{
 	clear: both;
 }
 .gt-avt-cnt p{
 	margin: 2px 0px;
 	color: #666;
 	font-size: 0.87rem;
 	overflow: hidden;
 	text-overflow: ellipsis;
 	width: 100%;
 	display: block;
 	white-space: nowrap;
 }
 .gt-avt-cnt .pull-req-info{
 	display: inline-block;
 	padding: 3px 7px;
 	margin-top: 5px;
 	color: rgba(0,0,0,0.5);
 	background: #e8f1f6;
 	border-radius: 3px;
 	width: auto;
 }
 .gt-commit-list{
 	margin: 0;
 	padding: 0;
 	list-style-type: none;
 	font-size: 0.75rem !important;
 }
 .gt-commit-item{
 	margin: 5px 0;
 }
 .gt-commit-msg{
 	color: #666;
 	margin: 0 5px;
 }
 .gt-compare-link{
 	font-size: 0.75rem;
 }
 .gt-scrollbar {
 	-webkit-overflow-scrolling: touch
 }
 .gt-scrollbar::-webkit-scrollbar {
 	height: 9px;
 	width: 9px
 }
 .gt-scrollbar::-webkit-scrollbar-button:start:decrement, .gt-scrollbar::-webkit-scrollbar-button:end:increment {
 	background: transparent;
 	display: none
 }
 .gt-scrollbar::-webkit-scrollbar-track-piece {
 	background: #F2F2F2;
 	border: 1px solid #E3E3E3;
 }

 .gt-scrollbar::-webkit-scrollbar-thumb:vertical:hover, .gt-scrollbar::-webkit-scrollbar-thumb:horizontal:hover {
 	background: #888;
 	opacity: 0.6;
 }
 .gt-scrollbar::-webkit-scrollbar-thumb:vertical, .gt-scrollbar::-webkit-scrollbar-thumb:horizontal {
 	background: #BBB;
 	display: block;
 	height: 50px;
 	opacity: 0.2;
 }